#root {
  height: 100vh;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 10px;
}

.form * {
  font-size: 18px;
}

.form input,
.form textarea {
  border: 1px solid black;
}

.form textarea {
  width: 100%;
}
